<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Red Hat Eurotech IoT Codestarter Demo app</title>

    <!-- MQTT and websockets -->
    <script type="text/javascript" src="/bower_components/paho-mqtt-js/mqttws31.js"></script>
    <script type="text/javascript" src="/bower_components/protobuf/dist/protobuf.min.js"></script>

    <script type="text/javascript" src="utils.js"></script>

</head>
<body onload="init()">

<h1>Red Hat Eurotech IoT Codestarter Demo app</h1>
<hr>
<div style="color: white; background-color: darkslategray; height: 100px; max-height: 100px; overflow: scroll" id="status">
    Starting up...
</div>
<br>
<br>
<label for="topic">Topic to Publish To: </label>
<input style="width: 400px" type="text" id="topic" name="topic" value="/Some/Topic">
<br>
<br>
<label for="payload">Payload to publish: </label>
<textarea rows="10" cols="80" name="payload" id="payload">{&quot;hello&quot;: &quot;world&quot;}</textarea>

<br>
<br>
<button onclick="publishMessage();">Publish Message</button>
<br>
<br>
<div style="color: yellow; background-color: gray; height: 200px; max-height: 300px; overflow: scroll" id="telemetry">
</div>

<script type="text/javascript">

    var msgCount = 0;
    var MAX_MESSAGES = 100;
    var msgproto = null;
    var div = document.getElementById('telemetry');
    var statusdiv = document.getElementById('status');
    var config = {};
    var client = null;

    function addStatus(msg, urgent) {
        statusdiv.innerHTML += '<br>+ ';
        if (urgent) {
            statusdiv.innerHTML += ('<span style="color: red">' + msg + '</span>');
        } else {
            statusdiv.innerHTML += (msg);
        }
        // scroll to last added message
        statusdiv.scrollTop = statusdiv.scrollHeight;
    }

    function publishMessage() {
        var topic = document.getElementById("topic").value;
        var payload = document.getElementById("payload").value;
        var message = new Paho.MQTT.Message(payload);
        message.destinationName = topic;
        addStatus("Sending test message...");
        client.send(message);
    }

    function addMessage(msg) {
        div.innerHTML += ("<br>" + msg);
    }

    function addMetricMessage(metrics) {
        div.innerHTML += "<ul>";
        metrics.forEach(function (metric) {
            div.innerHTML += ("<li>Name: <code>"+ metric.name + "</code>" +
            " Type: <code>" + metric.type + "</code>" +
            " Double value: <code>" + metric.doubleValue + "</code></li>");
        });
        div.innerHTML += "</ul>";
    }

    function onMessageArrived(message) {
        msgCount++;
        if (msgCount > MAX_MESSAGES) {
            var topicName = config.BROKER_TOPIC_PREFIX + "/#";
            client.unsubscribe(topicName);
            addStatus("Received " + MAX_MESSAGES + ", stopping....", true);
            return;
        }
        var destination = message.destinationName;
        var payload = message.payloadBytes;
        var decoded = null;
        try {
            decoded = msgproto.decode(payload);
        } catch (e) {
        }

        if (decoded) {
            var timestamp = new Date(decoded.timestamp);
            addMessage("Received new Kura metrics at " + timestamp + " on topic:" + destination);
            addMetricMessage(decoded.metric);
        } else {
            try {
                var payloadStr = message.payloadString;
                addMessage("Received new message on topic:" + destination + ": <code>" + payloadStr + "</code>");
            } catch(err) {
                // payload is probably opaque binary (e.g gzip)
                addMessage("Received new message on topic:" + destination + ": <code>" + message.payloadBytes + "</code>");
            }
        }
    }

    function connectSuccess() {
        addStatus("Connected to broker " + config.BROKER_HOSTNAME);
        addStatus("Using topic prefix: " + config.BROKER_TOPIC_PREFIX);

        var topicName = config.BROKER_TOPIC_PREFIX + "/#";
        client.subscribe(topicName);
        addStatus("Subscribed to: " + topicName);

        // send some JSON back to a topic
        var message = new Paho.MQTT.Message(JSON.stringify({
            hello: "world"
        }));
        message.destinationName = config.BROKER_TOPIC_PREFIX + "/hello";
        addStatus("Sending example message...");
        client.send(message);

        // send back a Kura payload by encoding it with protobuf
        var hitemp =
            {
                timestamp: new Date().getTime(),
                metric: [
                    {
                        name: 'temp',
                        type: 'DOUBLE',
                        doubleValue: 265
                    }
                ]
            };

        var payload = msgproto.encode(hitemp).finish();
        message = new Paho.MQTT.Message(payload);
        message.destinationName = config.BROKER_TOPIC_PREFIX + "/metrics";
        client.send(message);
    }

    function onConnectionLost(err) {
        addStatus("Lost connection to broker: " + config.BROKER_HOSTNAME);
        addStatus("Error code: " + err.errorCode);
        addStatus("Error message: " + err.errorMessage);
    }

    function onAuthSuccess(auth) {
        addStatus("Successfully authenticated to " + config.API_HOSTNAME);
        addStatus("Auth token: " + auth.tokenId);

        // get some historical data
        var path = 'http://' + config.API_HOSTNAME + ':' + config.API_PORT;
        var apiPath = '/v1/' + auth.scopeId + '/data/metrics';
        var params = {
            offset: 0, limit: 10
        };

        addStatus("Retrieving historical metrics at " + path + "using API " + apiPath + " and params: " + JSON.stringify(params));

        UTILS.kapuaApi(path, apiPath, 'GET', params, null, auth, function(result) {
                addStatus("Received data: " + JSON.stringify(result));
            }, function(err) {
                addStatus("error retrieving metrics: " + err, true);
            }
        );
    }

    function init() {

        protobuf.load("kurapayload.proto", function (err, root) {
            if (err) throw err;
            UTILS.fetchJSONFile("/config.json", function (configResult) {
                config = configResult;
                document.getElementById("topic").value = config.BROKER_TOPIC_PREFIX;
                addStatus("Connecting to " + config.BROKER_HOSTNAME + ":" + config.BROKER_PORT);

                client = new Paho.MQTT.Client(config.BROKER_HOSTNAME,
                                              parseInt(config.BROKER_PORT, 10),
                                              "demo-client-" + UTILS.guid());

                client.onMessageArrived = onMessageArrived;
                client.onConnectionLost = onConnectionLost;

                msgproto = root.lookup("kuradatatypes.KuraPayload");
                // connect the client
                client.connect({
                    onSuccess: connectSuccess,
                    userName: config.BROKER_USERNAME,
                    password: config.BROKER_PASSWORD,
                    onFailure: function (err) {
                        addStatus("Failed to connect to broker " + config.BROKER_HOSTNAME + ':' + config.BROKER_PORT+ ": Error code:" + err.errorCode + " message:" + err.errorMessage + "</em>", true);
                    }
                });

                // authenticate to the API
                addStatus("Authenticating to API " + config.API_HOSTNAME + ":" + config.API_PORT);
                UTILS.kapuaAuth('http://' + config.API_HOSTNAME + ':' + config.API_PORT,
                    'demo-gw2', 'RedHat123', onAuthSuccess, function(err) { addStatus( "cannot authenticate: " + err, true);});
            });

        });

    }


</script>


</body>
</html>
