<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Red Hat Eurotech IoT Codestarter Demo app</title>

    <!-- MQTT and websockets -->
    <script type="text/javascript" src="/bower_components/paho-mqtt-js/mqttws31.js"></script>
    <script type="text/javascript" src="/bower_components/protobuf/dist/protobuf.min.js"></script>

    <script type="text/javascript" src="utils.js"></script>

</head>
<body onload="init()">

<h1>Red Hat Eurotech IoT Codestarter Demo app</h1>
<hr>
<div id="status">
    Starting up...
</div>
<div style="color: yellow; background-color: gray; height: 200px; max-height: 300px; overflow: scroll" id="telemetry">
</div>

<script type="text/javascript">

    var msgCount = 0;
    var MAX_MESSAGES = 100;
    var msgproto = null;
    var div = document.getElementById('telemetry');
    var statusdiv = document.getElementById('status');
    var config = {};
    var client = null;

    function addStatus(msg) {
        statusdiv.innerHTML += ("<br>" + msg);
    }

    function addMessage(msg) {
        div.innerHTML += ("<br>" + msg);
    }

    function addMetricMessage(metrics) {
        div.innerHTML += "<ul>";
        metrics.forEach(function (metric) {
            div.innerHTML += ("<li>Name: <code>"+ metric.name + "</code>" +
            " Type: <code>" + metric.type + "</code>" +
            " Double value: <code>" + metric.doubleValue + "</code></li>");
        });
        div.innerHTML += "</ul>";
    }

    function onMessageArrived(message) {
        msgCount++;
        if (msgCount > MAX_MESSAGES) {
            var topicName = config.BROKER_TOPIC_PREFIX + "/#";
            client.unsubscribe(topicName);
            addStatus("Received " + MAX_MESSAGES + ", stopping....");
            return;
        }
        var destination = message.destinationName;
        var payload = message.payloadBytes;
        var decoded = null;
        try {
            decoded = msgproto.decode(payload);
        } catch (e) {
        }

        if (decoded) {
            var timestamp = new Date(decoded.timestamp);
            addMessage("Received new Kura metrics at " + timestamp + " on topic:" + destination);
            addMetricMessage(decoded.metric);
        } else {
            var payloadStr = message.payloadString;
            addMessage("Received new message on topic:" + destination + ": <code>" + payloadStr + "</code>");
        }
    }

    function connectSuccess() {
        addStatus("Connected to broker " + config.BROKER_HOSTNAME);
        addStatus("Using topic prefix: " + config.BROKER_TOPIC_PREFIX);

        var topicName = config.BROKER_TOPIC_PREFIX + "/#";
        client.subscribe(topicName);
        addStatus("Subscribed to: " + topicName);

        // send some JSON back to a topic
        var message = new Paho.MQTT.Message(JSON.stringify({
            hello: "world"
        }));
        message.destinationName = config.BROKER_TOPIC_PREFIX + "/hello";
        addStatus("Sending example message...");
        client.send(message);

        // send back a Kura payload by encoding it with protobuf
        var hitemp =
            {
                timestamp: new Date().getTime(),
                metric: [
                    {
                        name: 'temp',
                        type: 'DOUBLE',
                        doubleValue: 265
                    }
                ]
            };

        var payload = msgproto.encode(hitemp).finish();
        message = new Paho.MQTT.Message(payload);
        message.destinationName = config.BROKER_TOPIC_PREFIX + "/metrics";
        client.send(message);
    }

    function init() {
        protobuf.load("kurapayload.proto", function (err, root) {
            if (err) throw err;
            UTILS.fetchJSONFile("/config.json", function (configResult) {
                config = configResult;
                addStatus("Connecting to " + config.BROKER_HOSTNAME + ":" + config.BROKER_PORT);

                client = new Paho.MQTT.Client(config.BROKER_HOSTNAME, parseInt(config.BROKER_PORT, 10), "demo-client-" + UTILS.guid());

                client.onMessageArrived = onMessageArrived;

                msgproto = root.lookup("kuradatatypes.KuraPayload");
                // connect the client
                client.connect({
                    onSuccess: connectSuccess,
                    userName: config.BROKER_USERNAME,
                    password: config.BROKER_PASSWORD,
                    onFailure: function (err) {
                        addStatus("Failed to connect to broker " + config.BROKER_HOSTNAME + ':' + config.BROKER_PORT+ ": Error code:" + err.errorCode + " message:" + err.errorMessage + "</em>");
                    }
                });
            });

        });

    }


</script>


</body>
</html>
